<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCVq1mhypj4shYKu5CADLwPtvBUT5sLqmA</string>
	<key>GCM_SENDER_ID</key>
	<string>821725507161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wataru.NearU</string>
	<key>PROJECT_ID</key>
	<string>nearu-46768</string>
	<key>STORAGE_BUCKET</key>
	<string>nearu-46768.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:821725507161:ios:e556134cef9b8b53184b48</string>
</dict>
</plist>