<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>近くのデバイスから情報を受信するためにBluetooshを使用します</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>アイコンにフォルダ内の写真を使用します</string>
	<key>INIntentsSupported</key>
	<array>
		<string>Intent</string>
	</array>
</dict>
</plist>
